.mediaViewInfo {
    --web-view-name: Profile;
    --web-view-id: Profile;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-enable-scale-up: true;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Profile;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.Profile_Class {
    position: absolute;
    width: 1366px;
    height: 768px;
    background-color: rgba(230,230,230,1);
    overflow: hidden;
    --web-view-name: Profile;
    --web-view-id: Profile;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-enable-scale-up: true;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.n_807_Class {
    fill: rgba(241,241,241,1);
    stroke: rgba(156,156,156,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_807 {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 45px;
    left: 512px;
    top: 268px;
}
.n_810_Class {
    fill: rgba(241,241,241,1);
    stroke: rgba(156,156,156,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_810 {
    position: absolute;
    overflow: visible;
    width: 350px;
    height: 45px;
    left: 512px;
    top: 368px;
}
.n_811_Class {
    fill: rgba(241,241,241,1);
    stroke: rgba(156,156,156,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_811 {
    position: absolute;
    overflow: visible;
    width: 700px;
    height: 160px;
    left: 511px;
    top: 468px;
}
.Top_bar_Class {
    position: absolute;
    width: 1366px;
    height: 85px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Top_bar_u_Class {
    mix-blend-mode: normal;
    position: absolute;
    width: 1366px;
    height: 85px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.n_2_Class {
    fill: rgba(47,107,94,1);
}
.n_2 {
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.302));
    position: absolute;
    overflow: visible;
    width: 1396px;
    height: 115px;
    left: 0px;
    top: 0px;
}
.n_3062_Class {
    position: absolute;
    width: 1286px;
    height: 43px;
    left: 32px;
    top: 23px;
    overflow: visible;
}
.Navigator_Class {
    position: absolute;
    width: 323.433px;
    height: 38.816px;
    left: 962.567px;
    top: 2px;
    overflow: visible;
}
.Messages_Class {
    left: 0px;
    top: 5.908px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Message.html;
    cursor: pointer;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Orders_Class {
    left: 190px;
    top: 5.908px;
    position: absolute;
    overflow: visible;
    width: 64px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Orders.html;
    cursor: pointer;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Cart_Class {
    left: 120px;
    top: 5.908px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Cart.html;
    cursor: pointer;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.Icon_awesome-user-circle_Class {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-user-circle {
    overflow: visible;
    position: absolute;
    width: 38.816px;
    height: 38.816px;
    left: 284.618px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    --web-animation: fadein 0.6000000238418579s ease-out;
    --web-action-type: page;
    --web-action-target: login.html;
    cursor: pointer;
}
.Logo_Class {
    position: absolute;
    width: 264px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Logo-Text_Class {
    position: absolute;
    width: 264px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.LOZA_Class {
    left: 52px;
    top: 5px;
    position: absolute;
    overflow: visible;
    width: 213px;
    height: 33px;
    text-align: left;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(255,255,255,1);
}
.Logo__Class {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.Container_Class {
    fill: rgba(47,107,94,1);
}
.Container {
    position: absolute;
    overflow: visible;
    width: 43px;
    height: 43px;
    left: 0px;
    top: 0px;
}
.Icon_ionic-md-globe_Class {
    fill: rgba(255,255,255,1);
}
.Icon_ionic-md-globe {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 4px;
    top: 4.483px;
    transform: matrix(1,0,0,1,0,0);
}
.Search_Class {
    position: absolute;
    width: 526px;
    height: 36px;
    left: 286px;
    top: 4px;
    overflow: visible;
    --web-animation: fadein 0.6000000238418579s ease-out;
    --web-action-type: page;
    --web-action-target: Search_Page.html;
    cursor: pointer;
}
.n_2878_Class {
    fill: rgba(241,241,241,1);
}
.n_2878 {
    overflow: visible;
    position: absolute;
    width: 526px;
    height: 36px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.n_3065_Class {
    position: absolute;
    width: 426.551px;
    height: 24.128px;
    left: 17.683px;
    top: 6px;
    overflow: visible;
}
.Find_Services_Class {
    left: 36.551px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 391px;
    height: 24.128271102905273px;
    line-height: 40px;
    margin-top: -11px;
    text-align: left;
    font-family: HarmonyOS Sans;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(156,156,156,1);
}
.Icon_ionic-ios-search_Class {
    fill: rgba(156,156,156,1);
}
.Icon_ionic-ios-search {
    overflow: visible;
    position: absolute;
    width: 18.24px;
    height: 18.245px;
    left: 0px;
    top: 3px;
    transform: matrix(1,0,0,1,0,0);
}
.n_38_Class {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_38 {
    display: none;
    overflow: visible;
    position: absolute;
    width: 1366px;
    height: 1px;
    left: -8px;
    top: 96.465px;
    transform: matrix(1,0,0,1,0,0);
}
.n_10_Class {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 110px;
    top: 258px;
    overflow: visible;
}
.n_10_Class_1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 110px;
    top: 350px;
    overflow: visible;
}
.n_10_Class_2 {
    position: absolute;
    width: 250px;
    height: 20px;
    left: 110px;
    top: 258px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.Elizabeth_Dean_Class {
    left: 111px;
    top: 548px;
    position: absolute;
    overflow: visible;
    width: 249px;
    height: 39px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(53,78,87,1);
    background-color: rgb(241, 241, 241);
}
.Elizabeth_Dean_Class_1 {
    left: 120px;
    top: 500px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.Aenean_sed_lorem_est_Sed_quis__Class {
    left: 527px;
    top: 484px;
    position: absolute;
    overflow: hidden;
    width: 666px;
    height: 131px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(59,59,59,1);
    background-color: rgb(241, 241, 241);
}
.United_Kingdom_Class {
    left: 522px;
    top: 277px;
    position: absolute;
    overflow: visible;
    width: 300px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(46,46,34,1);
    background-color: rgb(241, 241, 241);
}
.deanelizabethgmailcom_Class {
    left: 522px;
    top: 376px;
    position: absolute;
    overflow: visible;
    width: 300px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(46,46,34,1);
    background-color: rgb(241, 241, 241);
}
.From_Class {
    left: 522px;
    top: 232px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.Email__Class {
    left: 522px;
    top: 331px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.Bio_Class {
    left: 522px;
    top: 430px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.n_9__14_Class {
    position: absolute;
    width: 204px;
    height: 47px;
    left: 1007px;
    top: 660px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: Profile.php;
    cursor: pointer;
}
.n_738_Class {
    fill: rgba(47,107,94,1);
}
.n_738 {
    position: absolute;
    overflow: visible;
    width: 204px;
    height: 47px;
    left: 0px;
    top: 0px;
}
.Save_Class {
    left: 12px;
    top: 15px;
    position: absolute;
    overflow: hidden;
    width: 181px;
    height: 17px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
.Save_Class_1 {
    opacity: 0;
    left: 1px;
    top: 1px;
    position: absolute;
    overflow: hidden;
    width: 202px;
    height: 45px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
    cursor:pointer;
}
.Save_Class_2 {
    left: 82px;
    top: 16px;
    position: absolute;
    overflow: hidden;
    width: 40px;
    height: 15px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
.Profile_bp_Class {
    left: 41px;
    top: 125px;
    position: absolute;
    overflow: visible;
    width: 125px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(53,78,87,1);
}
.University_of_Liverpool_Class {
    left: 111px;
    top: 594px;
    position: absolute;
    overflow: visible;
    width: 250px;
    height: 21px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(46,46,34,1);
}
.University_of_Liverpool_Class_1 {
    left: 120px;
    top: 600px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(46,46,34,1);
}
.University_of_Liverpool_Class_2 {
    left: 111px;
    top: 640px;
    position: absolute;
    overflow: visible;
    width: 250px;
    height: 21px;
    text-align: center;
    font-family: Proxima Nova, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(46,46,34,1);
    background-color: rgb(241, 241, 241);
}
.n_46_Class {
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_46 {
    overflow: visible;
    position: absolute;
    width: 1284.006px;
    height: 8px;
    left: 41px;
    top: 199.5px;
    transform: matrix(1,0,0,1,0,0);
}