.e0zm4k0j {
  align-content: start;
  background-image: linear-gradient(rgb(241, 241, 241) 0%, rgb(241, 241, 241) 100%);
  font-family: "Ubuntu", serif;
  grid-auto-flow: row;
  height: 2000px;
  width: 1366px;
  margin: 0px;
  padding: 0px;
}

.e03944o1 {
  background-image: linear-gradient(rgb(47, 107, 94) 0%, rgb(47, 107, 94) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
  flex-direction: column;
  grid-auto-flow: column;
  height: 85px;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  position: static;
  width: 1366px;
}

.e0lythul {
  align-content: start;
  background-image: linear-gradient(rgb(47, 107, 94) 0%, rgb(47, 107, 94) 100%);
  height: 43px;
  margin-left: 32px;
  margin-top: 23px;
  width: 43px;
}

.e0nvcnha {
  align-content: start;
  height: 35px;
  margin-left: 4px;
  margin-top: 4px;
  width: 35px;
}

.e0x0qwtw {
  align-content: start;
  color: rgb(255, 255, 255);
  font-family: Ubuntu;
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  height: 27px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 32px;
  width: 194px;
}

.e0nirdj7 {
  background-image: url("../images/-2878.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-flow: column;
  height: 36px;
  justify-content: start;
  margin-left: 22px;
  margin-top: 27px;
  width: 526px;
}

.e0gnwjxa {
  align-content: start;
  height: 18px;
  margin-left: 18px;
  margin-top: 8px;
  width: 18px;
}

.e0fx3vqp {
  align-content: start;
  color: rgb(156, 156, 156);
  font-family: "HarmonyOS Sans";
  font-size: 18px;
  font-weight: 300;
  height: 36px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 0px;
  width: 362px;
}

.e0bnc0tx {
  align-content: start;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  height: 31px;
  justify-items: center;
  justify-self: center;
  margin-right: 10px;
  margin-top: 29px;
  width: 106px;
}

.e04zk4oa {
  align-content: start;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  height: 29px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 29px;
  width: 50px;
}

.e0i7k6at {
  align-content: start;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  height: 28px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 29px;
  width: 73px;
}

.e0zka3ci {
  align-content: start;
  height: 39px;
  margin-left: 10px;
  margin-top: 22px;
  width: 39px;
}

.e0524ocf {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 30px;
  font-weight: 700;
  height: 45px;
  margin-left: 36px;
  margin-top: 40px;
  width: 675px;
}

.e0183q6r {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 18px;
  font-weight: 700;
  margin-left: 37px;
  margin-top: 26px;
  width: 189px;
}

.e0uvjy1a {
  grid-auto-flow: column;
  height: 69px;
  justify-content: start;
  width: 1353px;
}

.e0j6r5bb {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  grid-auto-flow: column;
  height: 43px;
  justify-content: start;
  margin-left: 36px;
  margin-top: 26px;
  width: 125px;
  border-radius: 100px;
}

.e05jq98t {
  align-content: start;
  color: rgb(47, 107, 94);
  font-family: "HarmonyOS Sans";
  font-weight: 700;
  margin-left: 16px;
  margin-top: 11px;
  width: 56px;
}

.e0j288y9 {
  align-content: start;
  background-image: linear-gradient(rgb(41, 127, 108) 0%, rgb(41, 127, 108) 100%);
  height: 20px;
  margin-left: 21px;
  margin-top: 11px;
  min-height: auto;
  width: 20px;
}

.e0nizo9w {
  align-content: start;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 20px;
}

.e0nhukd1 {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  grid-auto-flow: column;
  height: 43px;
  justify-content: start;
  margin-left: 20px;
  margin-top: 26px;
  width: 125px;
  border-radius: 100px;
}

.e0zgo1ba {
  align-content: start;
  color: rgb(47, 107, 94);
  font-family: "HarmonyOS Sans";
  font-weight: 700;
  margin-left: 16px;
  margin-top: 11px;
  width: 56px;
}

.e0htno54 {
  align-content: start;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 20px;
}

.e0z2do17 {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  grid-auto-flow: column;
  height: 43px;
  justify-content: start;
  margin-left: 20px;
  margin-top: 26px;
  width: 125px;
  border-radius: 100px;
}

.e0xoiirv {
  align-content: start;
  color: rgb(47, 107, 94);
  font-family: "HarmonyOS Sans";
  font-weight: 700;
  margin-left: 16px;
  margin-top: 11px;
  width: 56px;
}

.e05lo59b {
  align-content: start;
  height: 20px;
  margin-left: 29px;
  margin-top: 12px;
  min-height: auto;
  width: 20px;
}

.e0n6zilh {
  align-content: start;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 20px;
}

.e0h6333o {
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  grid-auto-flow: column;
  height: 43px;
  justify-content: start;
  margin-left: 20px;
  margin-top: 26px;
  width: 125px;
  border-radius: 100px;
}

.e03co9k8 {
  align-content: start;
  color: rgb(47, 107, 94);
  font-family: "HarmonyOS Sans";
  font-weight: 700;
  margin-left: 16px;
  margin-top: 11px;
  width: 56px;
}

.products_box {
  display: grid;
  grid-template-columns: 325px 325px 325px 325px;
  width: 1300px;
  text-align: center;
  margin-left: 10px;
  margin-right: 26px;
  margin-top: 50px;
  align-items: center;
}

.e0beprms {
  align-content: start;
  background-image: linear-gradient(rgb(47, 107, 94) 0%, rgb(47, 107, 94) 100%);
  height: 20px;
  margin-left: 13px;
  margin-top: 12px;
  min-height: auto;
  width: 20px;
}

.e0t5k2pv {
  align-content: start;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  width: 20px;
}

.e0f7ccwq {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 18px;
  font-weight: 700;
  height: 25px;
  margin-left: 0px;
  margin-top: 26px;
  width: 75px;
}

.e0nrl04h {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  font-weight: 700;
  height: 34px;
  margin-left: 6px;
  margin-top: 24px;
  width: 111px;
}

.e0mknerm {
  align-content: start;
  height: 7px;
  width: 12px;
}


.e0j0xajd {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  width: 277px;
  margin: 30px;
  border-radius: 20px;
}

.e07p1abp {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e05pfjis {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
  margin-top: 14px;
  width: 238px;
}

.e0fyk908 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  height: 46px;
  margin-left: 0px;
  margin-top: 4px;
  width: 236px;
}

.e0db5s3r {
  align-content: center;
  grid-auto-flow: column;
  height: 24px;
  justify-content: space-between;
  width: 246px;
}

.e0j8gg3j {
  align-content: center;
  height: 16px;
  justify-content: center;
  margin-left: 0px;
  margin-top: 5px;
  width: 18px;
  border-color: transparent;
}

.e0xiuqug {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 0px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0jibjcx {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: 0px;
  margin-top: 387px;
  text-align: right;
  width: 44px;
}

.e0ir8eww {
  font-family: "Yu Gothic UI";
}

.e0f6rvwz {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 44px;
  width: 277px;
  border-radius: 20px;
}

.e0i9zn8l {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0l6t73t {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0xdkpzm {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0ciqx2b {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e00hxcf4 {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e08dfbrp {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0ychill {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 387px;
  text-align: right;
  width: 44px;
}

.e04419i0 {
  font-family: "Yu Gothic UI";
}

.e0czfj4z {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 44px;
  width: 277px;
  border-radius: 20px;
}

.e0drxx5e {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0a9cw7o {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0s8r8nh {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e06isyeg {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0bw6swu {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0cu75fr {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0bdpebn {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 387px;
  text-align: right;
  width: 44px;
}

.e0dj1u19 {
  font-family: "Yu Gothic UI";
}

.e02uvvdk {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 44px;
  width: 277px;
  border-radius: 20px;
}

.e0q5w8d0 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0s674gi {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0efgs8d {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0d83ny1 {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e07y2ecv {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0cbghm7 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0srihww {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 387px;
  text-align: right;
  width: 44px;
}

.e0dw87r6 {
  font-family: "Yu Gothic UI";
}

.e08prlkd {
  grid-auto-flow: column;
  height: 453px;
  justify-content: start;
}

.e0vu7iym {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 36px;
  margin-top: 66px;
  width: 277px;
  border-radius: 20px;
}

.e07emm7e {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e052o11z {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0lxmp9t {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e06r2e25 {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0mk45g8 {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0tylr0u {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e00zsqmu {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 409px;
  text-align: right;
  width: 44px;
}

.e0otd7zr {
  font-family: "Yu Gothic UI";
}

.e03rd78f {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 66px;
  width: 277px;
  border-radius: 20px;
}

.e05l2vkn {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0aed5i0 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e09k2ac9 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0e6nscy {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0q86gu6 {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0dom6y0 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0s6mij9 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 409px;
  text-align: right;
  width: 44px;
}

.e0ocqqz7 {
  font-family: "Yu Gothic UI";
}

.e0cyggh0 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 66px;
  width: 277px;
  border-radius: 20px;
}

.e0ttu2e2 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0xoaoy9 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0qk4mk4 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e08mrt4p {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0oloxi2 {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0ft5jsq {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0beotsi {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 409px;
  text-align: right;
  width: 44px;
}

.e0oe1dsw {
  font-family: "Yu Gothic UI";
}

.e04tkc4m {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 66px;
  width: 277px;
  border-radius: 20px;
}

.e0z1pw1f {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e02ky26m {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e08xuz72 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0yebidm {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0q8aadu {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0mzcuc3 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0nu1j1o {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 409px;
  text-align: right;
  width: 44px;
}

.e0gdg7h6 {
  font-family: "Yu Gothic UI";
}

.e0ruq282 {
  grid-auto-flow: column;
  height: 437px;
  justify-content: start;
}

.e04a6k92 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 36px;
  margin-top: 50px;
  width: 277px;
  border-radius: 20px;
}

.e0c5636f {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0hqo9uy {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0ihtpne {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0ld9uh6 {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e08rejgk {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0g1ons3 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0oaktst {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 393px;
  text-align: right;
  width: 44px;
}

.e0d75rzi {
  font-family: "Yu Gothic UI";
}

.e0lmw7jr {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 50px;
  width: 277px;
  border-radius: 20px;
}

.e0ldyvbo {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0zhbu45 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0t07ia6 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0yqe4cq {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e05zdj3p {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0h6sb2m {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e08icpvp {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 393px;
  text-align: right;
  width: 44px;
}

.e04oryo6 {
  font-family: "Yu Gothic UI";
}

.e04pccfu {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 50px;
  width: 277px;
  border-radius: 20px;
}

.e0di61h4 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e061kks7 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0tdwjg6 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0khuy0c {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0guzgvp {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e0sn78ka {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0x9wezj {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 393px;
  text-align: right;
  width: 44px;
}

.e05qv6zp {
  font-family: "Yu Gothic UI";
}

.e0o5pmvv {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px 0px;
  height: 387px;
  margin-left: 39px;
  margin-top: 50px;
  width: 277px;
  border-radius: 20px;
}

.e0q4bfjs {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 244px;
  width: 277px;
}

.e0tydpdz {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  width: 238px;
}

.e0fu8vm5 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "HarmonyOS Sans";
  font-size: 12px;
  margin-left: 18px;
  margin-top: 4px;
  width: 238px;
}

.e0d7aqe5 {
  grid-auto-flow: column;
  height: 26px;
  justify-content: start;
  width: 277px;
}

.e0oka9n8 {
  align-content: start;
  height: 16px;
  margin-left: 18px;
  margin-top: 10px;
  width: 18px;
}

.e03surh8 {
  align-content: start;
  color: rgb(59, 59, 59);
  font-size: 20px;
  margin-left: 23px;
  margin-top: 1px;
  text-align: center;
  width: 30px;
}

.e0en95ow {
  align-content: start;
  color: rgb(59, 59, 59);
  font-family: "Segoe UI";
  font-size: 22px;
  margin-left: -21px;
  margin-top: 393px;
  text-align: right;
  width: 44px;
}

.e0ts787q {
  font-family: "Yu Gothic UI";
}

.e0a2dl8h {
  grid-auto-flow: column;
  height: 140px;
  justify-content: start;
}

.e04wi7h0 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 283px;
  margin-top: 90px;
  width: 50px;
  border-radius: 20px;
}

.e0t7rbtw {
  align-content: start;
  height: 17px;
  margin-left: 20px;
  margin-top: 16px;
  width: 10px;
}

.e0suqhn0 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0wgtfh9 {
  align-content: start;
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0suqz6m {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0f85lfn {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e055z05l {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0pzf7pl {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0ar1b4m {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0ue2c9c {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0wr745i {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0g0xuw8 {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0o9kif8 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0reoiod {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e058hhmv {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0dxsrxb {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0xwxlc8 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e0pf4zju {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0s81857 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  text-align: center;
  width: 50px;
  border-radius: 20px;
}

.e06wwexe {
  align-content: start;
  color: rgb(156, 156, 156);
  font-size: 20px;
  font-weight: 700;
  margin-left: 19px;
  margin-top: 11px;
  width: 12px;
}

.e0j3owz2 {
  align-content: start;
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px 0px;
  height: 50px;
  margin-left: 25px;
  margin-top: 90px;
  width: 50px;
  border-radius: 20px;
}

.e0mz2mqd {
  align-content: start;
  height: 17px;
  margin-left: 20px;
  margin-top: 16px;
  width: 10px;
}

.e07hpde8 {
  background-image: linear-gradient(rgb(47, 107, 94) 0%, rgb(47, 107, 94) 100%);
  grid-auto-flow: column;
  height: 226px;
  justify-content: start;
  margin-top: 85px;
  width: 1366px;
  border: 1px solid rgb(112, 112, 112);
}

.e0ntqfc7 {
  align-content: start;
  height: 226px;
  width: 423px;
}

.e0hm8so4 {
  align-content: start;
  color: rgb(255, 255, 255);
  margin-left: 139px;
  margin-top: 44px;
  width: 282px;
}

.e0wcm9s5 {
  grid-auto-flow: column;
  height: 58px;
  justify-content: start;
  width: 423px;
}

.e0wr2x42 {
  align-content: start;
  color: rgb(255, 255, 255);
  margin-left: 139px;
  margin-top: 18px;
  width: 152px;
}

.e07b7k0i {
  align-content: start;
  color: rgb(255, 255, 255);
  margin-left: 32px;
  margin-top: 18px;
  width: 100px;
}

.e0bw5x5c {
  align-content: start;
  color: rgb(255, 255, 255);
  margin-left: 74px;
  margin-top: 82px;
  width: 152px;
}

.e01qcetu {
  align-content: start;
  height: 25px;
  margin-left: 389px;
  margin-top: 77px;
  width: 25px;
}

.e0ekggms {
  align-content: start;
  margin-left: 33px;
  margin-top: 79px;
}

.e0aik59c {
  align-content: start;
  background-image: url("../images/-2875.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21px;
  min-height: auto;
  width: 21px;
}

input::placeholder{
  color:rgba(156,156,156,1);
}

.input-box{
  margin-top: 5px;
  background-color: rgba(241,241,241,1);
  outline: none;
  color: rgb(64, 64, 64);
}

.e04f8ezq {
  align-content: start;
  height: 8px;
  margin-left: 6px;
  margin-top: 6px;
  width: 8px;
}

.e03jvwv9 {
  align-content: start;
  height: 0px;
  margin-left: 16px;
  margin-top: -16px;
  width: 0px;
}

.e0yche4h {
  align-content: start;
  height: 19px;
  margin-left: 33px;
  margin-top: 80px;
  width: 23px;
}

.e0h01i06 {
  align-content: start;
  height: 21px;
  margin-left: 35px;
  margin-top: 79px;
  width: 21px;
}

.e0saax7q {
  height: 164px;
  width: 1312px;
  margin: 10px;
}

.e07w6j33 {
  height: 100px;
}

.e0tf1t83 {
  grid-auto-flow: column;
  height: 26px;
  justify-content: end;
  width: 121px;
}

.e0xlortr {
  font-size: 20px;
}

.e026a44x {
  font-size: 20px;
}

.e0cct7hx {
  grid-auto-flow: column;
  width: 698px;
}

.e0lxxouu {
  grid-auto-flow: column;
  height: 63px;
  justify-content: end;
  width: 663px;
}

.e06buo68 {
  align-content: center;
  align-items: start;
  height: 77px;
  justify-content: start;
  width: 28px;
}

.e0p8o6jb {
  grid-auto-flow: column;
  justify-content: start;
}

.e0u792m5 {
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto;
  justify-content: end;
}

.e0ck0c4l {
  grid-auto-flow: row;
  height: 139px;
  padding-left: 14px;
  padding-right: 14px;
  width: 277px;
}

.e0e0t14n {
  align-content: center;
  grid-auto-flow: column;
  height: 27px;
  justify-content: space-between;
  width: 58px;
}
